<div id="<%= dom_id message %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Content:</h4>
    <p class="leading-none"><%= message.content %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">User:</h4>
    <p class="leading-none"><%= message.user_id %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Task:</h4>
    <p class="leading-none"><%= message.task_id %></p>
  </div>
</div>
