<div id="<%= dom_id task %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Name:</h4>
    <p class="leading-none"><%= task.name %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Description:</h4>
    <p class="leading-none"><%= task.description %></p>
  </div>
</div>

<%= link_to "Show this task", task, class: "btn" %>