<% content_for :title, "New task" %>

<h1 class="font-bold text-4xl mbe-4">New task</h1>

<%= render "form", task: @task %>

<div class="inline-flex flex-wrap items-center gap mbs-2" style="--row-gap: .5rem">
  <%= link_to "Back to tasks", tasks_path, class: "btn" %>
</div>
