<h1>Good News! Product#in_stock</h1>

<p>
  <%= @greeting %>, find me in app/views/product_mailer/in_stock.html.erb
</p>

<p>
<%= link_to @product.name, product_url(@product) %> is back in stock
</p>

<%= link_to "Unsubscribe", unsubscribe_url(token: params[:subscriber].generate_token_for(:unsubscribe)) %>